<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-myplugin" version="1.0.3"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>MyPlugin</name>
    <description>Cordova plugin bridging to LEGIC Mobile SDK</description>
    <license>MIT</license>

    <!-- JavaScript bridge -->
    <js-module src="www/MyPlugin.js" name="MyPlugin">
        <clobbers target="MyPlugin" />
    </js-module>

    <!-- ANDROID -->
    <platform name="android">
        <!-- LEGIC SDK runtime (obfuscated classes) -->
        <lib-file src="libs/LEGIC-Mobile-SDK-for-Android-V3.1.2.0.jar" arch="all" />

        <!-- LEGIC SDK API (clean interfaces & imports) -->
        <lib-file src="libs/LEGIC-Mobile-SDK-for-Android-V3.1.2.0-sources.jar" arch="all" />

        <!-- Optional ProGuard rules -->
        <resource-file src="LEGIC-Mobile-SDK-Android-proguard.pro" target="app/proguard-rules.pro" />

        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.NFC" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <!-- Cordova feature registration -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="android-package" value="com.ofe.myplugin.MyPlugin" />
            </feature>
        </config-file>

        <!-- Native Java bridge -->
        <source-file src="src/android/MyPlugin.java" target-dir="src/com/ofe/myplugin" />
    </platform>

    <!-- IOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="MyPlugin">
				<param name="ios-package" value="MyPlugin" />
			</feature>
		</config-file>

		<!-- Use either .xcframework or .framework, not both -->
		<!-- If your SDK package includes .xcframework, prefer that -->
		<framework src="src/ios/LegicMobileSdk.xcframework" custom="true" embed="true" />
		<!-- <framework src="src/ios/LegicMobileSdk.framework" custom="true" embed="true" /> -->

		<!-- Native Objective-C bridge -->
		<source-file src="src/ios/MyPlugin.m" />
	</platform>
</plugin>
